@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #3b4d63;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.upform {
  color: #FFF;
  margin: 0 15px;
    margin-top: -20px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
  padding: 15px;
  border-radius: 3px;
  background: #3b4d63; 
  text-align: center;
  border-bottom: none;
    border-bottom-width: initial;
    border-bottom-style: none;
    border-bottom-color: initial;
  z-index: 3 !important;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #e2e0e0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #48566e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #eef4f7;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover,button:active, button:focus {
  background: #6fa6aa;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #99b3d8;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #584e4e;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #fdfffc; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #ffffff, #e0e0e0);
  background: -moz-linear-gradient(right, #ffffff, #e0e0e0);
  background: -o-linear-gradient(right, #ffffff, #e0e0e0);
  background: linear-gradient(to left, #ffffff, #e0e0e0);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}